/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e5d88;
  --ifm-color-primary-dark: #1b547d;
  --ifm-color-primary-darker: #194e75;
  --ifm-color-primary-darkest: #154060;
  --ifm-color-primary-light: #216693;
  --ifm-color-primary-lighter: #246e9b;
  --ifm-color-primary-lightest: #2a7cad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1e5d88; /* Keeping primary color consistent */
  --ifm-color-primary-dark: #1b547d;
  --ifm-color-primary-darker: #194e75;
  --ifm-color-primary-darkest: #154060;
  --ifm-color-primary-light: #216693;
  --ifm-color-primary-lighter: #246e9b;
  --ifm-color-primary-lightest: #2a7cad;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
